.footer-container{
    /* background-color: #E6E49F; */
    background-color: #e3e7d3;
    padding: 2rem 0 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer-link-wrapper{
    border: blue;
    display: flex;
    justify-content: space-between;
}
.footer-rights{
   padding-left: 10%;
}
.footer-rights-description{
   margin: 5px;
   
 }
.footer-rights-description:hover{
    color: white;
    border-bottom: 3px solid #fff;
    transition: all 0.2s ease-out;
 }
.footer-items{
    display: flex;
    align-items: flex-start;
    margin: 16px;
    width: 160px;
    box-sizing: border-box;
    color: white;
}

.footer-link-items{
    color: white;
    text-decoration: none;
    align-items: center;
    height: 100%;
}

.footer-linkedin{
    padding-right: 10%;
}

.icon-description:hover{
    color: white;
    border-bottom: 3px solid #fff;
    transition: all 0.2s ease-out;
}
.form-container{
    align-items: center; 
    justify-content: center; 
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}
.form-portfolio{
    text-align: center;
    margin-left: 25%;
    width: 75%;
    color: #fff;
}
.before-form-description{
    text-align: center;
    margin: 10px;
    font-size: 19px;
}
.submit-button{
    background-color: #BAA092 ;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    text-align: center;
    width: 100%;
}
.form-control{
  background-color: #bdc2bf;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  margin-bottom: 5px;
  color: black;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  
}
.form-control:focus{
    background-color: #bdc2bf;
    color: black;
}
.form-control:hover{
    background-color: #bdc2bf;
    color: black;
}

.input::placeholder{
    color: black;
}