body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.primary-btn{
  border-radius: 12px;
  color: blanchedalmond;
  border: 2px solid linen;
  font-size: 12px;
  background-color: #1f2235;
}
.primary-btn:hover{
  border-radius: 12px;
  color: aliceblue;
  border: 2px solid #ff58;
  background-color: #1f2235;

}